@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}
h2{
  background-color: #456799;
  margin-bottom: 20px;
}
h4{
  background-color: #456799;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(#FFD556, #FDC008, #BE9002);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
}

header h1{
  padding-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
header object {
  width: 200px;
  height: 200px;
}

#connectionForm .ssid{
  display: flex;
  align-items: baseline;
  margin: 20px 5px;
}
#connectionForm .ssid label{
  background-color: #456799;
}
#connectionForm .ssid input{
  margin-left: 62px;
}

#connectionForm .password{
  display: flex;
  align-items: baseline;
  margin: 20px 5px;
}
#connectionForm .password label{
  background-color: #456799;
}
#connectionForm .password input{
  margin-left: 20px;
}

#connectionForm .submit{
  margin-top: 40px;
  margin-left: 50px;
}
.container-form{
  display: flex;
}

/* Add additional styling as needed */
.ipReturned{
  margin-top: 20px;
}

.ipReturned input{
  margin-top: 20px;
  margin-left: 90px;
}


/* Scheduler html */
.sh_container{
  display: flex;
  align-items: center;
}
.sh_container_time{
  padding: 10px;
}
.sh_container_days{
  padding: 10px;
}
.sh_container_save{
  padding: 10px;
}